  html, body{
    overflow-x: hidden;
  }
  /*main body*/
  body{
    font-family: 'Montserrat', sans-serif;
  }
  .our_story_list{
      margin-left: 19vw;
  }
  .our_story_list>li{
    display: inline-block;
    padding-right: 7vw;
  }
  .page-name{
    margin-top: 15vw;
  }
  /*general text*/
  p{
    font-size: 1.5vw;
    margin-left: 3vw;
    margin-right: 3vw;
    text-align: justify;
  }
  /*main logo fomatting*/
  .mainlogo{
    width: 8vw;
    height: 8vw;
    margin: auto;
    position: fixed;
    margin-left: 46vw;
    margin-top: 12vw;
    display: block;
    z-index: 1;
  }
  /*main body formatting*/
  main{
    padding: 1% 0;
    position: relative;
    background: #f5f5f5;
    box-shadow: 0px -10px 60px rgba(0,0,0,0.25);
    width: 100vw;
    z-index: 2;
  }
  .img-left{
    margin: 0vw 0vw 0vw 16vw;
    width: 10vw;
    height: auto;
  }
  .img-center{
    margin: 0vw 0vw 0vw 16vw;
    width: 10vw;
    height: auto;
  }
  .img-right{
    margin: 0vw 0vw 0vw 16vw;
    width: 10vw;
    height: auto;
  }
  .txt-left{
    display: inline-block;
    margin: 0vw 0vw 0vw 15vw;
  }
  .txt-center{
    display: inline-block;
    margin: 0vw 0vw 0vw 14.5vw;
  }
  .txt-right{
    display: inline-block;
    margin: 0vw 0vw 0vw 14.5vw;
  }
  /*for zoom effect*/
  .zoom{
	  overflow: hidden;
	  padding-bottom: 47vw;
  }
  .zoom img{
    position: fixed;
    top: -5vw;
    left: 50vw;
    max-width: 200vw;
    width: 100vw;
    transform: translateX(-50vw);
    z-index: 0;
  }
  /*title*/
  h1{
    font-weight: bold;
    font-size: 4vw;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
  }
  /*subtitle*/
  h2{
    padding: 1vw;
    font-weight: 1000;
    font-size: 2.5vw;
    color: #002B6A;
  }
  /*thick blue underlines*/
  hr{
    display: block;
    height: 0.7vw;
    border: 0vw;
    border-top: 0.7vw solid #B3E5FE;
    margin-top: 1vw;
    margin-left: 3vw;
    margin-right: 90%;
    padding: 0vw;
   }
  
  .time-line-background {
    border-radius: 50px;
    box-shadow: 50px 20px 20px 50px rgba(0, 0, 0, 0.20);
    background: linear-gradient(to bottom, #00ccff, #FFFFFF, #B3E5FE);
    background-size: 100%;
    background-repeat: no-repeat;
 }

  .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 26px 0 rgba(0, 0, 0, 0.20);
 }
 .integrity{
    display: inline-block; 
    margin-left: 10vw;
 }
 .respect{
  display: inline-block; 
  margin-left: 13vw;
}
.compassion{
  display: inline-block; 
  margin-left: 13vw;
}
.collaboration{
  display: inline-block; 
  margin-left: 20vw;
}
.equality{
  display: inline-block; 
  margin-left: 13vw;
}
.initiative{
  display: inline-block; 
  margin-left: 13vw;
}
.integrity{
  display: inline-block; 
  margin-left: 13vw;
}
footer{
  background: #000000;
  min-height: 30vw;
  z-index: 1;
}
.footer_content{
  opacity: 0;
  position: fixed;
  bottom: 7vw;
  padding-top: 2vw;
  display: flex;
  flex-direction: row;
  z-index: 0;
}
.footer-item{
  text-decoration: none;
  font-size: 3vw;
  color: #B3E5FE;
  padding: 0vw 5vw 0vw 5vw;
}
.footer-item p{
  font-size: 2vw;
}
.footer-list{
  font-size: 1.4vw;
  padding: 0vw 2vw 0vw 3vw;
}
.footer-list a{
  color: #B3E5FE;
}
.footer-line{
  display: block;
  height: 0.7vw;
  border: 0vw;
  border-top: 0.2vw solid #B3E5FE;
  margin-top: 1vw;
  margin-left: 1vw;
  margin-right: 3vw;
  padding: 0vw;
}
.footer-legal{
  opacity: 0;
  position: fixed;
  bottom: 2vw;
  padding-top: 5vw;
  display: block;
  color: #B3E5FE;
  font-size: 0.7vw;
}