body{
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}
/*nav bar*/
.nav_bar{
  z-index: 10;
  border: 2px solid #b3e5ff;
  background: #000000;
  position: fixed;
  width: 99.7%;
  height: 55px;
  left: 0px;
  top: 0px;
}
.nav_bar>nav>p{
  color: #FFFFFF;
  position: absolute;
  font-size: 20px;
  left:5%;
  top:-5px;
  font-weight: bold;
}
.nav_bar>nav>ul{
  position:absolute;
  list-style-type: none;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 55px;
  grid-gap: 40px;
  right: 1%;
  top:13px;
  margin:0px;
  width: 50%;
}
.nav_bar>nav>ul>li{
  display: inline;
}
.nav_bar>nav>ul>li>a{
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  padding-left: 0.5%;
}
.nav_block>nav>ul>li.dropdown {
  display: inline-block;
}
.drop_down_content {
  display: none;
  position: absolute;
  top: 41px;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.drop_down_content>a {
  color: #ffffff;
  font-size: 18px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.drop_down_content>a:hover {
  border: 2px solid #b3e5ff;
  font-weight: bold;
  font-size: 20px;
}
.drop_down:hover .drop_down_content {
  display: block;
}
/*changes font color of the page user is currently on*/
.nav_bar>nav>ul>li>a.active_site{
  color: #b3e5ff;
}
/*formatting nav bar logo*/
.nav_bar>nav>img{
  width: 40px;
  height: 40px;
  vertical-align: 1px;
  padding-right: 10px;
  margin-left: 1.8%;
  margin-top: 5px;
}
/*hover effect of nav bar elements*/
.nav_bar>nav>ul>li:hover{
  font-weight: bold;
  font-size: 22.5px;
}
/*dropdown tings*/
.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  font-size: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
  padding-left:0px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown>ul>li{
  margin: 6px;
}
/*backdrop fomatting*/
#backdrop{
  margin: 0px;
  left: 0px;
  position: absolute;
  padding: 0px;
  top: 55px;
  width: 100%;
  height: 815px;
  z-index: -1;
  object-fit: cover;
  object-position:0px 0px; 
}
/*main logo fomatting*/
#mainlogo{
  width: 178px;
  height: 178px;
  margin: auto;
  margin-top: 130px;
  display: block;
}
/*title*/
h1{
  margin-top: 300px;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #FFFFFF;
}
#slogan{
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 12%;
  margin-right: 12%;
}
.graphics{
  position: absolute;
  width: 350px;
  height: 350px;
  box-shadow: 30px 30px #71666D
}
.graphics:hover{
  transform: scale(.97);
}
#about_graphic{
  margin: 16%;
  margin-bottom: 30px;
}
#events_graphic{
  margin-top:16%;
  margin-left: 59%;
}
#joinus_graphic{
  margin-left: 16%;
  margin-top: 980px;
}
#sponsor_graphic{
  margin-left: 59%;
  margin-top: 980px;
}

.image_blurbs{
  position: absolute;
  text-align:center;
  width: 400px;
}
.image_blurbs>a{
  font-size: 30px;
  font-weight: 900;
  text-decoration: none;
}
.image_blurbs>a:hover{
  opacity: 0.5;
}
.image_blurbs>p{
  font-size:20px;
  color: #000000;
}
#about_blurb{
  margin-left: 14.5%;
  margin-top: 630px;
}
#events_blurb{
  margin-left: 58.5%;
  margin-top: 630px;
}
#joinus_blurb{
  margin-left:14.5%;
  margin-top:1400px;
}
#sponsor_blurb{
  margin-left:58.5%;
  margin-top:1400px;
}
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000000;
  margin-top: 2000px;
  margin-left: 4%;
  margin-right: 4%;
  padding: 0;
 }

.footer_content>div{
  position:absolute;
  top:2850px;
}
.footer_content>div>p{
  position:absolute;
  font-weight: 900;
  text-align:center;
  font-size: 20px;
}
.footer_content>div>ul{
  position:absolute;
  top: 60px;
}
.footer_content>div>ul>li{
  padding-bottom: 8px;
}
#about_footer{
  width:200px;
  left: 5%;
  
}
#about_footer>p{
  left: 20%;
}
#s_footer{
  width:200px;
  left: 25%;
}
#s_footer>p{
  left: 20%;
}
#impact_footer{
  width:200px;
  left: 45%;
}
#impact_footer>p{
  left: 20%;
}
#soc_footer{
  width:200px;
  left: 65%;
}
#soc_footer>p{
  left: 20%;
}


