body{
  /*entire background*/
  background: #ffffff;
  text-align:center;
}
h1{
  text-align:center;
  background:#c0deb1;
  /*adding to the length of rectangle thing*/
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  /*rounding the corner*/
  border-radius: 7px;   
}
